img{
  width:250px;
  height:250px;
}
* {
   background-color: Orange;
   font-family:"Lucida Console", "Courier New", monospace;
   text-align: center
}
h1,h2{
   color:Black;
}
h4{
  padding:25%:
}
table
{
  display:inline-table;
}
