th, caption
{
    font-size:20pt;
    background-color:cyan;
    border:3px solid darkcyan;
    font-weight:bold;
}
table
{
    border-spacing:0
}
td
{
    border:1px solid #606060;
}
*[scope^="col"]
{
    column-width:300px;
}
*[scope^="row"]
{
    font-size:45pt;
}
thead th
{
    background-color:aquamarine
}
th + td
{
    font-weight:bold;
}
