/*
*
{
	border: 1px navy;
}
*/

body
{
	text-align: center;
	list-style-position: inside;
	background-color:	midnightblue;
}
header
{
	background-color:  oldlace;
	border: 24px dashed mintcream;
	margin: 12px 120px;
	font-color:	navy;
}
header h1
{
	font-size:  60pt;
	margin-top:  10px;
	margin-bottom: 0;
}
header h2
{
	font-size:  24pt;
	color:	navy;
	font-variant: small-caps;
}
main h1
{
	font-size:  70pt;
	font-family: serif, cursive;
	text decoration: underline, overline;
}
h1+h2
{
	margin-top: 10px;
}
main h2
{
	text-decoration: wavy underline;
	font-weight: bold;
	margin-bottom: 10px;
}
main ul
{
	display:  table;
	margin: 0 auto;
	text-align:  right;
	/*padding-left: 2px;*/
}
#wantedlist
{
	font-size: 30pt;
	float:  left;
	border: 24px dashed mintcream;
}
