/*
*
{
	border: 1px chocolate;
}
*/

body
{
	text-align: center;
	list-style-position: inside;
	background-color:	midnightblue;
}
header
{
	background-color:  oldlace;
	border: 5px dashed mintcream;
	margin: 12px 120px;
	font-color:	navy;
}
header h1
{
	font-size:  60pt;
	margin-top:  10px;
	margin-bottom: 0;
}
header h2
{
	font-size:  24pt;
	color: var(--navy);
	font-variant: small-caps;
}
main h1
{
	font-size:  70pt;
	font-family: 'Brush Script MT', cursive;
	margin: 0;
}
h1+h2
{
	margin-top: -15px;
}
main h2
{
	text-decoration: underline;
	font-weight: bold;
	margin-bottom: 0;
}
main ul
{
	display:  table;
	margin: 0 auto;
	text-align:  left;
	/*padding-left: 2px;*/
}
#wantedlist
{
	font-size: 30pt;
	float:  left;
}
