/*
*
{
	border: 4px mintcream;
}
*/

body
{
	text-align: center;
	list-style-position: inside;
	background-color:	midnightblue;
}
header
{
	background-color:  lightsteelblue;
	border: 24px dashed mintcream;
	margin: 12px 120px;
	font-color:	navy;
}
header h1
{
	font-size:  60pt;
	margin-top:  10px;
	margin-bottom: 0;
}
header h2
{
	font-size:  24pt;
	color:	navy;
	font-variant: small-caps;
}
main h1
{
	font-size:  70pt;
	font-family: serif, cursive;
	line-text-decoration: underline overline mintcream;
}
h1+h2
{
	margin-top: 10px;
}
main h2
{
	text-decoration: mintcream wavy underline; 
	font-weight: bold;
	margin-bottom: 10px;
}
main ul
{
	display:  table;
	margin: 0 auto;
	text-align:  left;
	/*padding-left: 2px;*/
}
#wantedlist
{
	font-size: 48pt;
	float:  left;
	text-align: left;
	border: 12px dashed mintcream;
}
footer
{
	text-align: center;
	float: center;
	border: inset;
	
	
